*{
    text-decoration: none;
}
.basis{
    width: 900px;
    margin: auto;
    background-color: whitesmoke;
}

.header{
    border-bottom: 1px solid whitesmoke;
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
}
.todo{
    padding: 20px 10px;
    font-size: 20px;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
}
.button{
    padding: 8px;
    color: red;
    background-color: white;
    font-size: 15px;
    border: 0;
}
.img{
    margin-bottom: 40px;
    text-align: center;
    background-color: dimgrey;
    color: whitesmoke;
    padding: 10px;
}